@value sizes: "../../css/sizes.module.css";
@value xs, sm, md, lg, xl from sizes;

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.button.xs {
  padding: 4px 2px;
  font-size: 8px;
}

.button.sm {
  padding: 8px 4px;
  font-size: 10px;
}

.button.md {
  padding: 12px 6px;
  font-size: 12px;
}

.button.lg {
  padding: 14px 8px;
  font-size: 14px;
}

.button.xl {
  padding: 16px 8px;
  font-size: 16px;
}
