@value sizes: "../../css/sizes.module.css";
@value xs, sm, md, lg, xl from sizes;

.icon {
}

.xs .icon {
  width: 8px;
  height: 8px;
}

.sm .icon {
  width: 10px;
  height: 10px;
}

.md .icon {
  width: 12px;
  height: 12px;
}

.lg .icon {
  width: 14px;
  height: 14px;
}

.xl .icon {
  width: 16px;
  height: 16px;
}
